/* 解决android端页面内容被toolbar盖住的bug */
.android .navbar-through .page-content {
	padding-bottom: 48px;
}

/* 解决android端顶端导航条无法使用subnav的bug */
.android .navbar-inner {
	overflow-y: visible;
	position: static;
}
.android .navbar {
	height: initial;
	min-height: 56px;
}

/* 特殊样式优化 */
.list-block {
	margin: 12px 0;
}
.list-block .item-after {
	/*max-width: 65%;*/
	width: 100%;
	white-space: normal;
	max-height: none;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline;
	font-size: 15px;
	padding-left: 0;
}

/* 改变部分符号大小 */
.f7-icons.size-smaller {
	font-size: 18px;
}
/* 改变部分符号大小 */
.f7-icons.size-smallest {
	font-size: 16px;
}

/* 输入项-附加项 */
.item-with-addon {
	color: initial;
}
.item-with-addon .addon {
	width: 25px;
	text-align: center;
	color: #818181;
}

/* 主题样式 */
.navbar, .subnavbar, .toolbar, .photo-browser .navbar, .photo-browser .toolbar {
	background-color: #40BC87;
	color: #fff;
}
.navbar-inner, .subnavbar {
	padding: 0;
}
.ios .smart-select-picker .toolbar a {
	color: #007aff;
}
.navbar a, .toolbar a, .photo-browser .navbar a {
	color: #fff;
	border-color: #fff;
}
.panel {
	background-color: #fff;
}
.statusbar-overlay {
	background: #40BC87;
	z-index: initial;
}
.navbar-btn {
	background: rgba(0,0,0,0.25);
    display: block;
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    border-radius: 20px;
    position: relative;
}
.navbar-btn.nbg {
	background: transparent;
}
.left .navbar-btn {
	left: 10px;
}
.left .navbar-btn.nbg{
	left: 0px;
}
.right .navbar-btn {
	right: 10px;
}

/* 副标题自定义高度 */
.ios .subnavbar.custom-height {
	height: 88px;
	font-size: 14px;
}
.ios .with-subnavbar.custom-height .page-content {
	padding-top: 131px;
}
.android .subnavbar.custom-height {
	height: 96px;
	font-size: 16px;
}
.android .with-subnavbar.custom-height .page-content {
	padding-top: 152px;
}

/* 副标题-班级信息 */
.class-info {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 10px;
}
.class-info p {
	margin: 0;
	line-height: 1.9em;
}

/* addon按钮 */
.addon-popover {
	width: 139px;
	border-radius: 20px;
	margin-top: 8px;
}
.addon-popover .popover-angle:after {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}
.addon-popover .icons-container {
	height: 28px;
	line-height: 28px;
	border-radius: 20px;
	overflow: hidden;
}
.addon-popover .icons-container a {
	display: inline-block;
	width: 30px;
	line-height: 28px;
	text-align: center;
	box-sizing: content-box;
	border-right: solid 1px #ddd;
	color: #40BC87;
}
.addon-popover .icons-container a.active-state {
	background: #40BC87;
	color: #fff;
}
.addon-popover .icons-container a:first-child {
	width: 34px;
	padding-left: 4px;
}
.addon-popover .icons-container a:last-child{
	width: 34px;
	padding-right: 4px;
	border-right: none;
}


/* 图片上传 */
.item-input-image {
	padding: 10px 0px;
}
.thumbnails-description {
	color: #999;
	font-size: 14px;
}
.thumbnail {
	width: 85px;
	height: 85px;
	min-width: 85px;
	line-height: 83px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-left: 1px;
	box-sizing: border-box;
	border-radius: 0;
}
/* .thumbnail.add {
	border: dashed 2px #bbb;
}
.thumbnail.add i.f7-icons {
	color: #bbb;
	line-height: 48px;
	font-size: 26px;
} */
.thumbnail.waiting {
	border: solid 2px #bbb;
	background-color: #bbb;
}
.thumbnail.waiting .preloader{
	margin: 13px;
	display: block;
}
.thumbnail .delete {
	position: relative;
	float: right;
	z-index: 2;
	height: 16px;
	width: 16px;
	line-height: 17px;
	right: 7px;
	top: 7px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
}
.thumbnail .delete i {
	color: #f33;
	font-size: 17px;
	width: 17px;
}
.thumbnail .image-container {
	display: block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	vertical-align: middle;
	overflow: hidden;
	position: absolute;
	background-color: #000;
}
.thumbnail .image-container img {
	width: 100%;
	line-height: 85px;
	vertical-align: middle;
	display: inline-block;
}

/* 音乐播放器 */
.audio-player {
	height: 32px;
}
.audio-player .progress-bar {
	display: block;
	height: 0px;
	border: solid 16px #ccc;
	border-radius: 40px;
}
.audio-player .played-part {
	display: block;
	height: 0px;
	width: 0px;
	border: solid 16px #40BC87;
	border-radius: 40px;
	margin-left: -16px;
	margin-top: -16px;
}
.audio-player .bar-control {
	display: inline-block;
	height: 0px;
	width: 0px;
	border: solid 16px #40BC87;
	/*border-color: rgba(255, 255, 255, 0.5);*/
	border-radius: 40px;
	margin-right: -16px;
	margin-top: -16px;
	position: relative;
	float: right;
}
.audio-player .ppBtn.f7-icons {
	width: 0px;
	height: 0px;
	float: left;
	position: relative;
	left: 5px;
	top: -27px;
	font-size: 22px;
	background: transparent;
	border: none;
	color: #fff;
}
.audio-player .time {
	float: right;
	position: relative;
	right: 10px;
	top: -27px;
	height: 0px;
	color: #fff;
}
.audio-player .decorate {
	width: calc(100% - 84px);
	height: 32px;
	overflow-x: hidden;
	float: left;
	position: relative;
	left: 33px;
	top: -31px;
	background: url(/data/wave.png) no-repeat 0 center;
}
